* { box-sizing: border-box; }

.login{
  width: 100%;
  min-height: 100vh;
  background: #fff4d9 url('../../Assets/comic.png') no-repeat center bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.login-container{
  width: 500px;
  background-color: #fff;
  margin: auto;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.login-container h1{ margin: 20px 0; }


.login-fields{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
}

.login-fields input{
  height: 50px;
  width: 100%;
  padding: 0 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 16px;
  border-radius: 8px;
}

.login-container button{
  width: 100%;
  height: 56px;
  color: #fff;
  background: #ff4141;
  margin-top: 24px;
  border: 1px solid transparent; 
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
}

.login-signup span{    
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}

.login a,
.loginsignup-login a {
  text-decoration: none;      /* removes the blue underline*/
  color: #ff4141;           
  font-weight: 600;
  transition: color 0.2s ease; 
  cursor: pointer;
}

/* hover effect */
.login a:hover,
.loginsignup-login a:hover {
  color: #e63939;             
  text-decoration: underline; 
}