.navbar {
  display: flex;
  justify-content: space-between;   /* logo solda, menü ortada, login+cart sağda */
  align-items: center;
  padding: 10px 60px;
  background-color: #fff4d9;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* LOGO */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none; 
  color: inherit;        
}


.nav-logo img {
  width: 120px;      
  height: auto;
}


.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

.nav-menu li:hover {
  color: #ff4141;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-login-cart button {
  padding: 8px 20px;
  background-color: #ff4141;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.nav-login-cart img {
  width: 35px;
  height: auto;
  cursor: pointer;
}

.nav-login-cart a {
  text-decoration: none;
  color: inherit;
}

.nav-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff4141;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
}
